<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Hide</title>
		<meta name="description" content="">
		<meta name="author" content="Jobe Roberts">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
	</head>

	<body>
		<header>
			<h1>Hide site</h1>
			{% include nav.html navclass='nav-top' %}
		</header>
	{{content}}
	<footer>
			{% include nav.html navclass='nav-bottom' %}
				<p>
					&copy; hacked by Joberrr
				</p>
	</footer>
	</body>
</html>
